/* Footer Component */

footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid #3e3e3e;
  text-align: center;
  color: #858585;
  font-size: 0.9em;
  background-color: #1e1e1e;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
