/* Slice Component - Full width horizontal section container */
.slice {
  width: 100%;
  position: relative;
}

.slice--black {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.slice--white {
  background-color: #ffffff;
  color: #1e1e1e;
}

.slice--top-decoration {
  padding-top: 60px;
}

.slice--bottom-decoration {
  padding-bottom: 60px;
}

.slice--top-decoration::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1e1e1e;
  transform: skewY(1deg);
  transform-origin: bottom left;
  z-index: 1;
}
.slice--bottom-decoration::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1e1e1e;
  transform: skewY(-1deg);
  transform-origin: bottom left;
  z-index: 1;
}
