/* Slice Component - Full width horizontal section container */
.slice {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slice--black {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.slice--white {
  background-color: #ffffff;
  color: #1e1e1e;
}
