/* Color Utility Classes */

/* CSS Variables */
:root {
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-accent: #4ec9b0;
}

/* Font Colors */
.color-font-black {
  color: var(--color-black);
}

.color-font-white {
  color: var(--color-white);
}

/* Background Colors */
.color-bg-black {
  background-color: var(--color-black);
}

.color-bg-white {
  background-color: var(--color-white);
}

/* Line/Border Colors */
.color-line-black {
  border-color: var(--color-black);
}

.color-line-white {
  border-color: var(--color-white);
}
