/* Spacing Utility Classes */

/* Spacing Scale */
/* n = none (0) */
/* s = small (1rem) */
/* m = medium (2rem) */
/* l = large (4rem) */
/* xl = extra large (6rem) */

/* Margin Top */
.mt-n {
  margin-top: 0;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 2rem;
}

.mt-l {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 6rem;
}

/* Margin Right */
.mr-n {
  margin-right: 0;
}

.mr-s {
  margin-right: 1rem;
}

.mr-m {
  margin-right: 2rem;
}

.mr-l {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 6rem;
}

/* Margin Bottom */
.mb-n {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

/* Margin Left */
.ml-n {
  margin-left: 0;
}

.ml-s {
  margin-left: 1rem;
}

.ml-m {
  margin-left: 2rem;
}

.ml-l {
  margin-left: 4rem;
}

.ml-xl {
  margin-left: 6rem;
}

/* Padding Top */
.pt-n {
  padding-top: 0;
}

.pt-s {
  padding-top: 1rem;
}

.pt-m {
  padding-top: 2rem;
}

.pt-l {
  padding-top: 4rem;
}

.pt-xl {
  padding-top: 6rem;
}

/* Padding Right */
.pr-n {
  padding-right: 0;
}

.pr-s {
  padding-right: 1rem;
}

.pr-m {
  padding-right: 2rem;
}

.pr-l {
  padding-right: 4rem;
}

.pr-xl {
  padding-right: 6rem;
}

/* Padding Bottom */
.pb-n {
  padding-bottom: 0;
}

.pb-s {
  padding-bottom: 1rem;
}

.pb-m {
  padding-bottom: 2rem;
}

.pb-l {
  padding-bottom: 4rem;
}

.pb-xl {
  padding-bottom: 6rem;
}

/* Padding Left */
.pl-n {
  padding-left: 0;
}

.pl-s {
  padding-left: 1rem;
}

.pl-m {
  padding-left: 2rem;
}

.pl-l {
  padding-left: 4rem;
}

.pl-xl {
  padding-left: 6rem;
}

/* Mobile Spacing Classes - Half values, only apply on mobile */
/* Pattern: .{property}-m-{size} */
@media (max-width: 768px) {
  /* Margin Top Mobile */
  .mt-m-s {
    margin-top: 0.5rem;
  }

  .mt-m-m {
    margin-top: 1rem;
  }

  .mt-m-l {
    margin-top: 2rem;
  }

  .mt-m-xl {
    margin-top: 3rem;
  }

  /* Margin Right Mobile */
  .mr-m-s {
    margin-right: 0.5rem;
  }

  .mr-m-m {
    margin-right: 1rem;
  }

  .mr-m-l {
    margin-right: 2rem;
  }

  .mr-m-xl {
    margin-right: 3rem;
  }

  /* Margin Bottom Mobile */
  .mb-m-s {
    margin-bottom: 0.5rem;
  }

  .mb-m-m {
    margin-bottom: 1rem;
  }

  .mb-m-l {
    margin-bottom: 2rem;
  }

  .mb-m-xl {
    margin-bottom: 3rem;
  }

  /* Margin Left Mobile */
  .ml-m-s {
    margin-left: 0.5rem;
  }

  .ml-m-m {
    margin-left: 1rem;
  }

  .ml-m-l {
    margin-left: 2rem;
  }

  .ml-m-xl {
    margin-left: 3rem;
  }

  /* Padding Top Mobile */
  .pt-m-s {
    padding-top: 0.5rem;
  }

  .pt-m-m {
    padding-top: 1rem;
  }

  .pt-m-l {
    padding-top: 2rem;
  }

  .pt-m-xl {
    padding-top: 3rem;
  }

  /* Padding Right Mobile */
  .pr-m-s {
    padding-right: 0.5rem;
  }

  .pr-m-m {
    padding-right: 1rem;
  }

  .pr-m-l {
    padding-right: 2rem;
  }

  .pr-m-xl {
    padding-right: 3rem;
  }

  /* Padding Bottom Mobile */
  .pb-m-s {
    padding-bottom: 0.5rem;
  }

  .pb-m-m {
    padding-bottom: 1rem;
  }

  .pb-m-l {
    padding-bottom: 2rem;
  }

  .pb-m-xl {
    padding-bottom: 3rem;
  }

  /* Padding Left Mobile */
  .pl-m-s {
    padding-left: 0.5rem;
  }

  .pl-m-m {
    padding-left: 1rem;
  }

  .pl-m-l {
    padding-left: 2rem;
  }

  .pl-m-xl {
    padding-left: 3rem;
  }
}
